<small class="selection-text"><strong>{{ selectionText }}</strong></small>
<uib-tabset>
  <uib-tab  id="tab-search" heading="Search Condition" active="saiTabs.search">
    <div ng-include="'partials/condition/search.html'"></div>
  </uib-tab>
  <uib-tab  heading="Condition Editor" active="saiTabs.editor">
    <div ng-include="'partials/condition/editor.html'" ng-controller="ConditionEditorController"></div>
  </uib-tab> 
  <uib-tab  heading="SQL Script" ng-click="generateSAIScript()" active="saiTabs.script">
    <div ng-include="'partials/condition/sql-script.html'"></div>
  </uib-tab>
</uib-tabset>
