<div class="modal-header">
    <h3 class="modal-title">Bytes 1</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-6">
        <label class="checkbox" >
          <input type="checkbox" class="input-xs" ng-model="values[0]">
          <small>1 Sitting</small>
        </label>
        <label class="checkbox">
          <input type="checkbox" class="input-xs" ng-model="values[1]">
          <small>2 Sit chair</small>
        </label>
        <label class="checkbox">
          <input type="checkbox" class="input-xs" ng-model="values[2]">
          <small> NO_PARRY</small>
        </label>
        <label class="checkbox">
          <input type="checkbox" class="input-xs" ng-model="values[3]">
          <small>3 NO_PARRY_HASTEN</small>
        </label>
        <label class="checkbox">
          <input type="checkbox" class="input-xs" ng-model="values[4]">
          <small>4 NO_BLOCK</small>
        </label>
        <label class="checkbox">
          <input type="checkbox" class="input-xs" ng-model="values[5]">
          <small>5 NO_CRUSH</small>
        </label>
        <label class="checkbox">
          <input type="checkbox" class="input-xs" ng-model="values[6]">
          <small>6 NO_XP_AT_KILL</small>
        </label>
        <label class="checkbox">
          <input type="checkbox" class="input-xs" ng-model="values[7]">
          <small>7 TRIGGER</small>
        </label>
        <label class="checkbox">
          <input type="checkbox" class="input-xs" ng-model="values[8]">
          <small>8 NO_TAUNT</small>
        </label>
        <label class="checkbox">
          <input type="checkbox" class="input-xs" ng-model="values[9]">
          <small>512 Allow Fly against Exploiter!</small>
        </label>
        <label class="checkbox">
          <input type="checkbox" class="input-xs" ng-model="values[10]">
          <small>1024 Legendary Dropper!</small>
        </label>
        <label class="checkbox">
          <input type="checkbox" class="input-xs" ng-model="values[11]">
          <small>11 UNK3</small>
        </label>
        <label class="checkbox">
          <input type="checkbox" class="input-xs" ng-model="values[12]">
          <small>12 UNK4</small>
        </label>
        <label class="checkbox">
          <input type="checkbox" class="input-xs" ng-model="values[13]">
          <small>13 UNK5</small>
        </label>
        <label class="checkbox">
          <input type="checkbox" class="input-xs" ng-model="values[14]">
          <small>14 WORLDEVENT</small>
        </label>
        <label class="checkbox">
          <input type="checkbox" class="input-xs" ng-model="values[15]">
          <small>15 GUARD</small>
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="modalOk()">OK</button>
    <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
  </div>
  