<div class="modal-header">
  <h3 class="modal-title">Cast Flags</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>1  Interrupt any spell casting</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[1]">
        <small>2 Interrupt any spell casting</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[2]">
        <small>4 Triggered (this makes spell cost zero mana and have no cast time)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[3]">
        <small>6 Forces cast even if creature is out of mana or out of range</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[4]">
        <small>8 Prevents creature from entering melee if out of mana or out of range</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[5]">
        <small>16 Forces the target to cast this spell on itself</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[6]">
        <small>32 Only casts the spell if the target does not have an aura from the spell</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[7]">
        <small>64 Prevent combat movement on cast, allow on fail range, mana, LOS</small>
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
