<div class="modal-header">
  <h3 class="modal-title">Summon Types</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>1 Despawns after a specified time OR when the creature disappears.</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>2 Despawns after a specified time OR when the creature dies.</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>3 Despawns after a specified time.</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>4 Despawns after a specified time after the creature is out of combat.</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>5 Despawns instantly after death.</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>6 Despawns after a specified time after death.</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>7 Despawns when the creature disappears.</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>8 Despawns when UnSummon() (or Force Despawn action) is called.</small>
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
